#dashboardHeading {
    color: #f8fafc;
    font-size: 38px;
    font-weight: 700;
}

#dashboardSubheading {
    color: #b3bad5;
    font-size: 15px;
}

#statusMessage {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
